@model IEnumerable<Persona>

@{
    ViewData["Title"] = AliasGUI.ListOf + "Personas";
}



<p>
    <a asp-action="Create">Crear persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Persona persona in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => persona.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => persona.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => persona.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@persona.Id">@AliasGUI.Edit</a> |
                <a asp-action=@AliasGUI.Details asp-route-id="@persona.Id">@AliasGUI.Details</a> |
                <a asp-action="Delete" asp-route-id="@persona.Id">@AliasGUI.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
