@model EstacionamientoMVC.Models.Telefono

@{
    ViewData["Title"] = @AliasGUI.Delete;
}



<h6>@AliasGUI.SureToDelete</h6>
<div>
    <h4>Telefono</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Principal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Principal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.Apellido)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@AliasGUI.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@AliasGUI.BackToList</a>
    </form>
</div>
