@model IEnumerable<EstacionamientoMVC.Models.Telefono>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">@AliasGUI.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Principal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@AliasGUI.Details</a> |
                <a asp-action=@AliasGUI.Details asp-route-id="@item.Id">@AliasGUI.Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">@AliasGUI.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
