@model IEnumerable<EstacionamientoMVC.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">@AliasGUI.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@AliasGUI.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@AliasGUI.Details</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">@AliasGUI.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
